.border-radius{
    border-radius: 100px;
}
.back{
    width: 43px;

}
.mr{
    margin-right: 20px;
}
.justify-content-space-between{
    justify-content: space-between;
}

.DV{
    width: 100px;
    height: 100px;
    background-color: red;
}