.change-password-card {
    max-width: 400px;
    margin: 10em auto;
  }

  form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-around;
  }

  mat-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    width: 10em;
  }

  
  