<mat-card class="change-password-card">
  <mat-card-header>
    <img src="https://media.discordapp.net/attachments/1167437166331314267/1169937418955268137/Untitled_design.png?ex=65573821&is=6544c321&hm=9655f45891011564b0cebd72dd1460d4d9013c9f2706b9c1c5e9d709921ef501&=&width=411&height=411"
    alt="Logo" width="100px" />
    <mat-card-title style="color: navy;">Change Password</mat-card-title>
  </mat-card-header>

  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-card-content>
      <mat-form-field>
        <mat-label for="old-password">Old Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword" required="true">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field id="new-password">
        <mat-label for="new-password">New Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required="true">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field id="confirm-new-password">
        <mat-label for="confirm-new-password">Confirm New Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button button mat-raised-button color="primary" type="submit">SAVE</button>
        <button button mat-raised-button color="warn" (click)="cancel()">CANCEL</button>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </form>

</mat-card>