
<p class="desktop-nav">
    <mat-toolbar class="toolbar-desktop">
            <img src="../../assets/images/Logo.png" alt="Logo" width="55px" style="border-radius: 100%;" >
        <span class="company-name">As'Connecte</span>
        <span class="example-spacer"></span>

        <div class="links">
            <a routerLink="/find-nearby" routerLinkActive="active">Hotspots</a>
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/signin-signup" routerLinkActive="active">Resell</a>
            <a routerLink="/wifiview" routerLinkActive="active">Load Voucher</a>
        </div>
    </mat-toolbar>
</p>

<p class="mobile-nav">
    <mat-toolbar class="toolbar-mobile">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="../../assets/images/Logo.png" alt="Logo" />
        </button>
        <span class="company-name">As'Connecte</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon style="color: #fff">menu</mat-icon></button>

        <mat-menu #menu="matMenu">
            <div class="btn-link">
                <a mat-menu-item style="margin-top: -10px;" routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-menu-item routerLink="/signin-signup" routerLinkActive="active">Dasboroad</a>
                <a mat-menu-item style="margin-bottom: -8px;" routerLinkActive="active">Load Voucher</a>
            </div>
        </mat-menu>
    </mat-toolbar>
</p>

