<section>
  <div class="products">
    <h1>Products</h1>
  </div>

<div class="wrapper">
  <div class="card "  *ngFor="let item of voucherItems">
      <input type="checkbox" id="card1" class="more" aria-hidden="true">
      <div class="content">
          <div class="front" style="background-image: url('../../assets/images/background.png')">

              <div class="inner">
                <div class="d-flex justify-content-end">
                    <div class="btn bg-dark pos text-white" (click)="saveVoucher(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                          </svg>
                    </div>
                </div>
                  <h2>{{item.price}}</h2>
                  
                  <label for="card1" class="button" aria-hidden="true">
                      Details
                  </label>
              </div>
          </div>
          <div class="back">
              <div class="inner">
                 
                  <div class="description">
                    <p> Price: {{item.price}}</p>
                    <p> Data: {{item.data}}</p>
                    <p> Valid: {{item.exp}}</p>
                  </div>
                  <!-- <div class="location">Warsaw, Poland</div> -->
                  <!-- <div class="price">38€ / day</div> -->
                  <label for="card1" class="button return" aria-hidden="true">
                    <img src="../../assets/images/back-svgrepo-com.svg" style="width: 50px; height: 30px;" alt="">
                  </label>
              </div>
          </div>
      </div>
  </div>
</div>
</section>





