.container {
  overflow: hidden;
}

.products {
  margin-top: 2em;
}
@media only screen and (min-width: 992px) {
  .products {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadvoucher {
    position: relative;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  top: 4%;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
}

.loadvoucher {
  position: relative;
  top: 100px;
}

 

