.container {
  overflow: hidden;
}

.products {
  margin-top: 2em;
  padding-bottom: 80px;
}

@media only screen and (min-width: 992px) {
  .products {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadvoucher {
    position: relative;
  }
}

.footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
::placeholder{
  padding: auto;
  font-size: 17px;
}
.loadvoucher {
  position: relative;
  top: 100px;
}

 

